body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color:  #00b4d8;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background-color:#cdb4db;
    border: 8px inset transparent;
}

/* .container:hover{
    animation: border-Animation 1s infinite;
} */
/* @keyframes border-Animation {
    0%{
       border-color:#caf0f8;
       transform: rotate(0deg);
    }

    25%{
      
      transform: rotate(90deg);
    }
    50%{
        border-color: #00b4d8;
        transform: rotate(180deg);

      }
      75%{
        transform: rotate(270deg);
      }
      100%{
        border-color: #03045e;
        transform: rotate(360deg);
      }
    
} */


h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    height:20px;
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    display: flex;
}

button {
    padding: 10px;
    border: 0.5px solid black;
    background-color: #ffc8dd;
    color:black;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 0.8rem;
    font-weight: 500;
}

button:hover {
    background-color: #ffafcc;
}

ol {
    list-style-type: none;
    padding: 0;
    
}

li {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: #c82333;
}
.box{
    display:flex;
}
